:root{
    --primary-color: #4482FF;
    --secondary-color-1: #0066DE;
    --secondary-color-2: #2D76F0;
    --secondary-color-3: #003EAC;
    --secondary-color-4: #002D96;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;

}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@font-face {
    font-family: kavoon;
    src:url("./fonts/kavoon.ttf");
}



@font-face {
    font-family: permanent_marker;
    src:url("./fonts/permanent_marker.ttf");
}



body{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("./assets/blurry-gradient-haikei.svg");
    background-size: cover;

}

header{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
   
}

#header_title{
    font-family: kavoon;
    color: var(--secondary-color-3);
    font-size: 30px;
    text-wrap: wrap;
    width: 80%;
}

#generate_btn{
    display: block;
    background-color: brown;
    margin: 20px auto;
    height: 50px;
    width: 80%;
    max-width: 350px;
    border: solid 2px white;
    font-weight: 600;
    font-size: 12px;
    color: white;
    background-color: var(--secondary-color-1);
    cursor: pointer;
}

#generate_btn:hover{
    background-color: var(--secondary-color-3);
}


main{
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 0;

}



footer{
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: "kavoon";
    font-size: 15px;
    color: var(--secondary-color-3);
}

#action_choices{
    position: relative;
    width: 80%;
    max-width: 800px;
    top: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    
}

#result_area{
    background-color: var(--secondary-color-1);
    height: 60px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-x:hidden;
}

#copy_pass_icon{
    height: 25px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    margin-right: 10px;
    fill: white;
}

#copy_pass_icon:hover{
    fill: var(--secondary-color-3);
}

#result_area p{
    margin-left: 10px;
    color: rgb(158, 158, 158);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.choices_class{
    font-family: permanent_marker;
}

.choices_class li:not(:first-child){
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 5px auto;
}

.choices_class li:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.choices_class input{
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0 5px;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.30em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

.choices_class input#length_id{
    width: 5em;
    height: 1.50em;
    border: 0.15em solid currentColor;
    border-radius: 0.30em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    padding: 10px;
}

.choices_class input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  border-radius: 0.30em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--secondary-color-3);
}

.choices_class input[type="checkbox"]:checked::before {
  transform: scale(1);
}
